html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

 /* Nav Styles */

/* Hamburger Menu (Mobile) */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 20px;
}

.hamburger .line {
  display: block;
  width: 20px;
  height: 2px;
  margin-bottom: 4px;
  background-color: purple;
}

/* Navigation Links */
.nav-links {
  width: 100%;
  top: 5rem;
  left: 0;
  background-color: #f1f5f9;
  display: none;
  margin: 0;
}

.nav-links a {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  color: purple;
}

.nav-links a:hover,
.nav-links a:focus {
  color: rgb(82, 5, 82);
}

/* Expanded Navigation (Mobile) */
.expanded {
  display: unset;
}

/* Button Styles */
.button {
  display: inline-block;
  padding: 1em .4em;
  text-decoration: none;
  color: purple;
  border-radius: 4px;
  border: solid 2px purple;
  cursor: pointer;
  line-height: 1;
}

.button:hover {
  background-color: rgb(212, 181, 212);
}

/* Desktop Styles */
@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 0;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3em;
  }

  .nav-links a {
    display: block;
  }

  .hamburger {
    display: none;
  }


}


footer {
  padding: 0.1em 1em 1em;
  background-color: rgb(223, 223, 223);
}
.social-links {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.social-links a {
  color: rgb(0, 0, 238);
  text-decoration: underline;
}

.button {
  display: inline-block;
  padding: 0.2em 0.8em;
  text-decoration: none;
  color: purple;
  border-radius: 4px;
  border: solid 2px purple;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(212, 181, 212);
}

h1 {
  color: purple;
  font-size: 4rem;
  }

  .skill {
    color: navy;
    font-weight: bold;
    text-transform: uppercase;
  }