html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}


header nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
}

h1 {
  color: purple;
  font-size: 4rem;
  }
