html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

header nav a {
  text-decoration: none;
  color: purple;
}

header nav a:hover {
  color: rgb(82, 5, 82);
}


header nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
}

footer {
  background-color: #f1f5f9;
  
}

.button {
  display: inline-block;
  padding: 0.2em 0.8em;
  text-decoration: none;
  color: purple;
  border-radius: 4px;
  border: solid 2px purple;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(212, 181, 212);
}

h1 {
  color: purple;
  font-size: 4rem;
  }
